<% if page.current? %>
  <li class="active"><%= page %></li>
<% else %>
  <li>
    <%= link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% end %>
