-url = spree.product_url product
-name = product.name

.col-md-4.col-sm-4.short-container
	-# Show placeholder if there is no image.
	.sale-promotion-image
		- image_url = product.images&.first.nil? ? "noimage/product.png" : product.images.first.attachment.url(:product)
		= image_tag_generator_for_product url, image_url

	.promotion-cover
		= image_tag_generator_for_product url, "products/50-off-frame.png"