-# About Us
- content_for :breadcrumb_title, Spree.t(:about_us)

%section.bg-txt.f7f7f7
	.row

		.col-md-5.col-sm-5
			.img-block
				= image_tag "about/about_image.png"

		.col-md-6.col-sm-5.about-det
			= image_tag "about/about.png"
			%p
				Double Trouble nace de la union de dos perssonas con el mismo nombre.
				%br
				El primero un exitoso comerciante llamado Jacky, con mas de 20 anis distribuyendo moda para cada esquina de Latino America. La segunda Jacky, una emprendedora disenadora de modas. De este increible enlaze, sale la mas divertida y vanguardista empresa de moda femenina "Double Jacky", Double Trouble, donde tienes lo ultimo de las capitales de la moda como lo son NEW YORK, LOS ANGELES, MILAN PARIS Y SAO PAULO, en la puerta de tu casa a solo un Click de distancia.

			%p
				A su vez tienes la oportunidad de pertenecer al DT CLUB, donde podras pedir las piezas mas Fashion mucho antes de que este en el mercado.
			%p
				Asi que acomodate relajate y entra a la suprema diversion que te brinda esta ventana de fashion para Latinoamerica y el mundo.
			%p
				Con Mucho amor y carino!
			%p
				Double Trouble Inc. 
				= image_tag "about/heart.png"

			= link_to :account, class:["btn theme-btn"] do
				%span.btn-txt
					¡Crea tu cuenta ya, para que empiece la diversión!
				%i.btn-icon.icon.ion-chevron-right
