<!-- Blog Starts-->
<section class="our-prod">
    <div class="res-spc space-70"></div>
    <div class="container theme-container">
        <div class="bg-txt blog-sec text-center">
            <h2 class="title-3"> News </h2>
            <p> Latest posts from our blog </p>
            <span class="space-15 block-inline"></span>
        </div>
        <div class="hidden-xs space-40"></div>
        <div class="inline-block">
            <div class="our-blog-slider">
                <div class="item row">
                    <div class="col-md-6">
                        <%= image_tag 'fashion/slider/blog-1.jpg' %>
                    </div>
                    <div class="col-md-6">
                        <p class="gray-color-2 no-margin"> <span class="font-3 size-36"> 07</span><small class="size-16">/ Jan</small> </p>
                        <h2 class="post-title no-margin">  <a href="#"> make your style so cool in summer </a> </h2>
                        <p class="continue space-top-15 gray-color-2"> <a class=" gray-color-2 title-2 size-12" href="#">continue</a>  <span class="icon ion-android-arrow-forward"></span> </p>
                    </div>
                </div>
                <div class="item row">
                    <div class="col-md-6">
                        <%= image_tag 'fashion/slider/blog-2.jpg' %>
                    </div>
                    <div class="col-md-6">
                        <p class="gray-color-2 no-margin"> <span class="font-3 size-36"> 06</span><small class="size-16">/ Jan</small> </p>
                        <h2 class="post-title no-margin">  <a href="#"> tips to mix your style in pastel color </a> </h2>
                        <p class="continue space-top-15 gray-color-2"> <a class=" gray-color-2 title-2 size-12" href="#">continue</a>  <span class="icon ion-android-arrow-forward"></span> </p>
                    </div>
                </div>
                <div class="item row">
                    <div class="col-md-6">
                        <%= image_tag 'fashion/slider/blog-1.jpg' %>
                    </div>
                    <div class="col-md-6">
                        <p class="gray-color-2 no-margin"> <span class="font-3 size-36"> 07</span><small class="size-16">/ Jan</small> </p>
                        <h2 class="post-title no-margin">  <a href="#"> make your style so cool in summer </a> </h2>
                        <p class="continue space-top-15 gray-color-2"> <a class=" gray-color-2 title-2 size-12" href="#">continue</a>  <span class="icon ion-android-arrow-forward"></span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog Ends -->
