<!-- Touch With Us Starts -->
<section class="bg-txt contact-sec space-bottom-50">
    <div class="col-md-5 contact-addtress col-xs-offset-1">
        <h2 class="title-3">Get In Touch With Us </h2>
        <p> Contact for us here </p>
        <span class="space-15 block-inline visible-lg"></span>
        <hr class="divider-2 ">

        <div class="cnt-det clear space-50">
            <h2 class="title-2 space-20"> headquater </h2>
            <p>123 King St, Melbourne VIC 3000, Australia</p>
            <p> (+0084) 9673 123 765 </p>
            <p> hello@eprotheme.com </p>

            <h2 class="title-2 space-20"> service office </h2>
            <p>35 Lincoln St, Green Bay, WI, United States</p>
            <p>(+0084) 5564 6371 4829</p>
            <p>support@eprotheme.com</p>
        </div>
    </div>
    <div class="col-md-6 space-bottom-70">
        <!-- Map Starts-->
        <div class="google-map">
            <div id="map-canvas-homepage" style="height: 650px"></div>
        </div>
        <!-- / Map Ends -->
    </div>
</section>
<!-- / Touch With Us Ends -->
