%fieldset#password-credentials

  .form-group.col-md-12
    = f.email_field :email,
      :class => 'form-control email input-email',
      :placeholder => Spree.t(:email),
      :data => { :toggle => "tooltip",
        :placement => "bottom" }

  .form-group.col-md-12
    = f.text_field :birthdate,
      :class => 'form-control datepicker',
        :placeholder => Spree.t(:birthdate),
        :data => { :toggle => "tooltip",
          :placement => "bottom" }

  .form-group.col-md-12
    %hr/

  .form-group.col-md-12
    = f.password_field :password,
      :class => 'form-control website input-website',
      :placeholder => Spree.t(:password),
      :data => { :toggle => "tooltip",
        :placement => "bottom" }

  .form-group.col-md-12
    = f.password_field :password_confirmation,
      :class => 'form-control website input-website',
      :placeholder => Spree.t(:confirm_password),
      :data => { :toggle => "tooltip",
        :placement => "bottom" }



%div{data:{hook:"signup_below_password_fields"}}
