%section.slider-section
	.tp-banner-container
		.tp-banner
			%ul
				= render partial:'slider_slide1'
				= render partial:'slider_slide2'
				= render partial:'slider_slide3'
				= render partial:'slider_slide4'
